<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/layout.css" />
    <title>main</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/projects">projects</a>
      {{#if isLoggedIn}}
        <a href="/projectCreate">create</a>
        <a href="/messages">messages</a>
      {{/if}}
      <a href="/contact">contact</a>
      <a href="/about">about</a>
      {{#if isLoggedIn}}
        <form action="/logout" method="POST">
          <input id="logout" type="submit" value="log out" />
        </form>
      {{/if}}
    </nav>
    <main>{{{body}}}</main>
    <footer>Copyright Alex 2024</footer>
  </body>
</html>