<div id="contact">
  {{#if errorMessages.length}}
    {{#each errorMessages}}
      <p class="err">{{this}}</p>
    {{/each}}
  {{/if}}
  <div id="contactForm">
    <div>
      <h5>Let's stay in <span>touch</span></h5>
      <form action="/contact" method="POST">
        <div>
          <input
            class="inputField"
            type="text"
            name="name"
            placeholder="Your name"
          />
        </div>
        <div>
          <input
            class="inputField"
            type="text"
            name="email"
            placeholder="Your email"
          />
        </div>
        <div>
          <input
            class="inputField"
            type="text"
            name="message"
            placeholder="Message"
          />
        </div>
        <div>
          <input class="niceButton" type="submit" value="send" />
        </div>
      </form>
    </div>
  </div>
  <div id="contactInfo">
    <h5>For collaborations</h5>
    <p>Lorem ipsum dolor sit amet consectetur. Placerat interdum ullamcorper
      amet fames pellentesque nullam in. Urna congue sit urna blandit diam.
      Aliquet ultricetitor ut placerat magna. Lorem ipsum dolor sit amet
      consectetur. Placerat interdum ullamcorper amet fames pellentesque nullam
      in. Urna congue sit urna blandit diam.</p>
  </div>
</div>