<h1>contact</h1>

<form action="" method="POST">
  <div>
    <input type="text" name="name" placeholder="Your name" />
  </div>
  <div>
    <input type="text" name="email" placeholder="Your email" />
  </div>
  <div>
    <input type="text" name="message" placeholder="Message" />
  </div>
  <div>
    <input type="submit" value="send" />
  </div>
</form>