<div id="header">
  <h1>Web development, graphic design, <span>and</span> 3D modeling</h1>
  <p>Lorem ipsum dolor sit amet consectetur. Placerat interdum ullamcorper amet
    fames pellentesque nullam in. Urna congue sit urna blandit diam. Aliquet
    ultricetitor ut placerat magna.</p>
  <form action="/projects" method="GET">
    <input class="niceButton" type="submit" value="see more" />
  </form>
</div>
<div id="process">
  <h3>Behind <span>the</span> Scenes</h3>
  <p>Lorem ipsum dolor sit amet consectetur. Placerat interdum ullamcorper amet
    fames pellentesque nullam in. Urna congue sit urna blandit diam. Aliquet
    ultricetitor ut placerat magna. Lorem ipsum dolor sit amet consectetur.
    Placerat interdum ullamcorper amet fames pellentesque nullam in. Urna congue
    sit urna blandit diam. Aliquet ultricetitor ut placerat magna.</p>
</div>
<div id="steps">
  <div class="step">
    <h3>01</h3>
    <p>Lorem ipsum dolor sit amet consectetur. Placerat interdum ullamcorper
      amet fames pellentesque nullam in. Urna congue sit urna blandit diam.
      Aliquet ultricetitor ut placerat magna. Lorem ipsum dolor sit amet
      consectetur. Placerat interdum ullamcorper amet fames pellentesque nullam
      in. Urna congue sit urna blandit diam. Aliquet ultricetitor ut placerat
      magna. Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="step">
    <h3>02</h3>
    <p>Lorem ipsum dolor sit amet consectetur. Placerat interdum ullamcorper
      amet fames pellentesque nullam in. Urna congue sit urna blandit diam.
      Aliquet ultricetitor ut placerat magna. Lorem ipsum dolor sit amet
      consectetur. Placerat interdum ullamcorper amet fames pellentesque nullam
      in. Urna congue sit urna blandit diam. Aliquet ultricetitor ut placerat
      magna. Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="step">
    <h3>03</h3>
    <p>Lorem ipsum dolor sit amet consectetur. Placerat interdum ullamcorper
      amet fames pellentesque nullam in. Urna congue sit urna blandit diam.
      Aliquet ultricetitor ut placerat magna. Lorem ipsum dolor sit amet
      consectetur. Placerat interdum ullamcorper amet fames pellentesque nullam
      in. Urna congue sit urna blandit diam. Aliquet ultricetitor ut placerat
      magna. Lorem ipsum dolor sit amet consectetur.</p>
  </div>

</div>
<div id="about">
  <div id="aboutImage">
    <img src="/uploads/me.png" />
  </div>
  <div id="aboutMe">
    <h5>Hi, I’m Alex, I am a graphic designer and a web developer.</h5>
    <p>Lorem ipsum dolor sit amet consectetur. Placerat interdum ullamcorper
      amet fames pellentesque nullam in. Urna congue sit urna blandit diam.
      Aliquet ultricetitor ut placerat magna. Lorem ipsum dolor sit amet
      consectetur. Placerat interdum ullamcorper amet fames pellentesque nullam
      in. Urna congue sit urna blandit diam.</p>
    <form action="/about" method="GET">
      <input class="niceButton" type="submit" value="see more" />
    </form>
  </div>
</div>
<div id="contact">
  <div id="contactForm">
    <div>
      <h5>Let's stay in <span>touch</span></h5>
      <form action="" method="POST">
        <div>
          <input
            class="inputField"
            type="text"
            name="name"
            placeholder="Your name"
          />
        </div>
        <div>
          <input
            class="inputField"
            type="text"
            name="email"
            placeholder="Your email"
          />
        </div>
        <div>
          <input
            class="inputField"
            type="text"
            name="message"
            placeholder="Message"
          />
        </div>
        <div>
          <input class="niceButton" type="submit" value="send" />
        </div>
      </form>
    </div>
  </div>
  <div id="contactInfo">
    <h5>For collaborations</h5>
    <p>Lorem ipsum dolor sit amet consectetur. Placerat interdum ullamcorper
      amet fames pellentesque nullam in. Urna congue sit urna blandit diam.
      Aliquet ultricetitor ut placerat magna. Lorem ipsum dolor sit amet
      consectetur. Placerat interdum ullamcorper amet fames pellentesque nullam
      in. Urna congue sit urna blandit diam.</p>
  </div>
</div>