<h1 class="pageName">login</h1>
{{#if errorMessages.length}}
  {{#each errorMessages}}
    <p>{{this}}</p>
  {{/each}}
{{/if}}

<form class="form" action="/login" method="POST">
  <div>
    <input
      class="inputField"
      type="text"
      name="username"
      placeholder="username"
    />
  </div>
  <div>
    <input
      class="inputField"
      type="password"
      name="password"
      placeholder="password"
    />
  </div>
  <div>
    <input type="submit" value="log in" />
  </div>
</form>