<h1>projects</h1>

{{#if projects.length}}
  <ul>
    {{#each projects}}
      <li><a href="/projects/{{id}}">{{title}} {{category}}</a></li>
    {{/each}}
  </ul>

{{else}}
  <p>No projects atm</p>
{{/if}}