<h1>project create</h1>

<form action="" method="POST">
  <div>
    <input type="text" name="title" placeholder="title" />
  </div>
  <div>
    <input type="text" name="category" placeholder="category" />
  </div>
  {{! here i would like to make buttons that display "graphic design", "web dev", "3d graphics" and after clicking one of them the appropriate category should be added to the database }}
  <div>
    <input type="text" name="description" placeholder="description" />
  </div>
  {{! here i would like to have photos of my projects }}
  <div>
    <input type="text" name="imageURL1" placeholder="image1" />
  </div>
  <div>
    <input type="text" name="repository" placeholder="repository" />
  </div>
  <div>
    <input type="text" name="link" placeholder="link" />
  </div>
  <div>
    <input type="text" name="date" placeholder="date" />
  </div>
  <div>
    <input type="submit" value="projectCreate" />
  </div>
</form>