<h1>are you sure?</h1>
<p>You are going to delete post: {{project.name}}</p>

<form action="/projectDelete/{{project.id}}" method="POST">
  <input class="deleteButton" type="submit" value="delete" />
</form>
<form action="/projects" method="GET">
  <input class="niceButton" type="submit" value="cancel" />
</form>