/* messages */

.message {
  border: 1px var(--secondaryDark) solid;
  width: 50%;
  margin: 5% 0 0 10%;
  padding: 3%;
}

.message p {
  border: 1px var(--secondaryDark) solid;
  padding: 2%;
}

/* all projects page */

#projectsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
}

.oneProject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primaryDark);
  border: 1px var(--secondaryDark) solid;
  padding: 5%;
  height: 40vh;
}

.oneProject a {
  font-family: "Playfair Display";
  font-size: 34;
  text-decoration: none;
  color: var(--secondaryDark);
}

/* project page */

.singleProject {
  margin: 0 5%;
}

.singleProject img {
  width: 100%;
}

.link {
  font-family: "Barlow";
  font-size: 16;
  text-decoration: none;
  color: var(--secondaryDark);
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  #projectsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  #projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
