form {
  margin: 0;
  padding: 0;
}

.form {
  margin-left: 5%;
}

.niceButton {
  background-color: var(--primaryDark);
  border: 1px var(--secondaryDark) solid;
  border-radius: 20px;
  padding: 8px 28px;
  margin-top: 2vh;
  font-size: 14px;
  font-family: "Barlow";
  color: var(--secondaryDark);
  text-transform: uppercase;
}

.niceButton:hover {
  border: 1px var(--primaryDark) solid;
  background-color: var(--tertiaryDark);
  color: var(--primaryDark);
}

.editButton {
  background-color: #60e7a6;
  border: 1px var(--secondaryDark) solid;
  border-radius: 20px;
  padding: 8px 28px;
  margin-top: 2vh;
  font-size: 14px;
  font-family: "Barlow";
  color: var(--secondaryDark);
  text-transform: uppercase;
}

.editButton:hover {
  background-color: #4fbe88;
}

.deleteButton {
  background-color: #be46b5;
  border: 1px var(--secondaryDark) solid;
  border-radius: 20px;
  padding: 8px 28px;
  margin-top: 2vh;
  font-size: 14px;
  font-family: "Barlow";
  color: var(--secondaryDark);
  text-transform: uppercase;
}

.deleteButton:hover {
  background-color: #a7409f;
}

#categories {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px var(--secondaryDark) solid;
  width: 100%;
}

.categoryForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-right: 1px var(--secondaryDark) solid;
}

.categoryForm form {
  display: block;
  width: 100%;
}

.categoryButton {
  background-color: var(--primaryDark);
  border: none;
  font-size: 14px;
  padding: 4vh 0;
  width: 100%;
  font-family: "Barlow";
  color: var(--secondaryDark);
  text-transform: uppercase;
}

.catButton {
  border: 1px var(--secondaryDark) solid;
  border-radius: 20px;
  padding: 8px 28px;
  margin-top: 2vh;
  font-size: 14px;
  font-family: "Barlow";
  color: var(--secondaryDark);
  text-transform: uppercase;
}

#cat0:hover {
  background-color: var(--tertiaryDark);
  color: var(--primaryDark);
}

#cat1:hover {
  background-color: #60e7a6;
}

#cat2:hover {
  background-color: #be46b5;
}

#cat3:hover {
  background-color: #bbb5fd;
}

.inputField {
  background-color: var(--primaryDark);
  border: 1px var(--secondaryDark) solid;
  border-radius: 20px;
  padding: 8px 20px;
  width: 40vh;
  margin-top: 2vh;
  font-size: 14px;
  font-family: "Barlow";
  color: var(--secondaryDark);
}

.categoryChoice {
  display: flex;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1% 0 0;
}

.choice p {
  font-size: 12px;
  margin: 10% 0 3% 0;
}

.categoryChoiceColor {
  display: flex;
  padding-top: 1%;
}

.categoryChoiceColor #btn1 input[type="radio"] {
  border: 3px #60e7a6 solid;
}

.categoryChoiceColor #btn1 input[type="radio"]:checked:before {
  background: #60e7a6;
}

.categoryChoiceColor #btn2 input[type="radio"] {
  border: 3px #be46b5 solid;
}

.categoryChoiceColor #btn2 input[type="radio"]:checked:before {
  background: #be46b5;
}

.categoryChoiceColor #btn3 input[type="radio"] {
  border: 3px #bbb5fd solid;
}

.categoryChoiceColor #btn3 input[type="radio"]:checked:before {
  background: #bbb5fd;
}

input[type="radio"] {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  width: 80px;
  height: 35px;
  border: 1px var(--secondaryDark) solid;
  border-radius: 20px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input[type="radio"]:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 90%;
  height: 80%;
  border-radius: 20px;
  margin: auto;
}

input[type="radio"]:checked:before {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondaryDark);
}

.err {
  border: 1px var(--secondaryDark) solid;
  color: var(--primaryDark);
  background-color: var(--tertiaryDark);
  width: 40%;
  margin-left: 10%;
  padding: 1%;
}

@media (max-width: 900px) {
  .catButton {
    font-size: 12px;
    padding: 8px 18px;
  }

  .categoryButton {
    font-size: 12px;
  }
}
